<% case follow_type%>
<% when "incoming" %>
  <%# get follow request where the followee is the current user  %>
  <% follow_request = user.outgoing_follow_requests.find_by(followee_id: current_user.id)%>
  <div class="follow-request-incoming-btn-wrapper">
    <%= button_to "Accept", follow_request_path(id: follow_request.id, update: "accepted"), method: :patch, class:"follow-request-btn" %>
    <%= button_to "Reject", follow_request_path(id: follow_request.id, update: "declined"), method: :patch, class:"follow-request-btn" %>
  </div>
<% when "outgoing" %>
  <%# get follow_request where the follower is the current user %>
  <% follow_request = current_user.outgoing_follow_requests.find_by(followee_id: user.id)%>
  <% if follow_request.status == "pending"  %>
    <p class="follow-request-status-text" >Request Pending.</p>
    <%= button_to "Cancel", follow_request_path(follow_request), method: :delete, class:"follow-request-btn" %>
  <% elsif follow_request.status == "rejected" %>
    <p class="follow-request-status-text" >Follow Rejected.</p>
    <%= button_to "Delete", follow_request_path(follow_request), method: :delete, class:"follow-request-btn" %>
  <% end %>
<% when "follows" %>
  <%# get follow_request where the follower is the current user %>
  <% follow_request = current_user.outgoing_follow_requests.find_by(followee_id: user.id)%>
  <%= button_to "Unfollow", follow_request_path(follow_request), method: :delete, class:"follow-request-btn" %>
<%end %>
<% if follow_request.nil? && follow_type != "incoming" %>
  <%= button_to "Follow", follow_requests_path(followee_id: user.id), method: :post, class:"follow-request-btn" %>
<%end%>