<div class="page-wrapper">
  <h1 class="page-title"><%= @profile&.display_name || @user.email %></h1>
  <%= render 'profile/profile_image', user: @user, size: "200"  %>
  <div class="user-details">
    <p><%= @profile&.bio %></p>
    <% if @user != current_user%>
      <%= render 'follow_requests/user_follow', user: @user %>
    <%else%>
      <%= button_to "Edit Profile" ,edit_user_profile_path(@user,@profile), method: :get %>
    <%end%>
  </div>
  <h2>Posts</h2>
  <% @posts.each do |post| %>
    <%= render 'posts/show_posts', post: post %>
  <% end %>
</div>
