<div class="page-wrapper">
  <h1 class="page-title">Feed</h1>
  <div class="index-new-post">
    <%= button_to "New Post", new_post_path %>
  </div>
  <% @posts.each do |post| %>
    <div class="index-post-card">
      <p><strong><%= post.user.profile&.display_name || post.user.email %></strong></p>
      <p><%= post.content %></p>
      <p>Likes: <%= post.likes.count %></p>
      <% if post.likes.exists?(user: current_user) %>
        <%= button_to "Unlike", post_like_path(post, post.likes.find_by(user: current_user)), method: :delete %>
      <% else %>
        <%= button_to "Like", post_likes_path(post), method: :post %>
      <% end %>
      <div class="index-comments-wrapper">
        <h4>Comments:</h4>
        <% post.comments.each do |comment| %>
          <div class="index-comment-wrapper">
            <p class="comment-user">
              <%= comment.user.profile&.display_name || comment.user.email %>:
            </p>
            <p class="comment-body">
              <%= comment.body %>
            </p>
            <p>
              <% if comment.user == current_user %>
                <%= button_to "Delete", post_comment_path(post, comment), method: :delete %>
              <% end %>
            </p>
          </div>
        <% end %>
        <%= form_with(model: [post, post.comments.build], local: true) do |f| %>
          <%= f.text_field :body, placeholder: "Add a comment" %>
          <%= f.submit "Comment" %>
        <% end %>
        <% if post.user == current_user %>
          <%= button_to "Delete Post", post_path(post), method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
