<h1>New Post</h1>
<%= form_with(model: @post, local: true) do |f| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "Post" %>
<% end %>
